<div class="table-box">
    <h1>All Packages</h1>
    <table class="table" id="package-table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Weight</th>
            <th scope="col">Destination</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Allocated</th>
            <th scope="col">Driver ID</th>
            <th scope="col">Driver</th>
          </tr>
        </thead>
        <tbody>
            @for(package of allPackages;track $index) {
                <tr>
                    <td>{{ package.package_id }}</td>
                    <td>{{ package.package_title }}</td>
                    <td>{{ package.package_weight | grams }}</td>
                    <td>{{ package.package_destination }}</td>
                    <td>{{ package.description }}</td>
                    <td>{{ package.createdAt }}</td>
                    <td>{{ package.isAllocated }}</td>
                    <td>{{ package.driver_id | driverid }}</td>
                    <td style="text-align: center;">
                      <i class="fa-solid fa-truck fa-lg view-driver"
                      (click)="viewDriver($index)"></i>
                    </td>
                </tr>
            }
        </tbody>
      </table>

      @if (showingDriver) {
        <div class="table-box">
          <h1>Assigned Driver</h1>
          <table class="table" id="driver-table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Department</th>
                <th scope="col">Licence</th>
                <th scope="col">Created At</th>
                <th scope="col">Active</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>{{assignedDriver.driver_id }}</td>
                  <td>{{assignedDriver.driver_name | upperCase }}</td>
                  <td>{{assignedDriver.driver_department }}</td>
                  <td>{{assignedDriver.driver_licence }}</td>
                  <td>{{assignedDriver.driver_createdAt }}</td>
                  <td>{{assignedDriver.driver_isActive }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      }
</div>