<div class="welcome pt-3 w-75">
    <h1>Welcome</h1>
    <br>
    <h2>About MonPack</h2>
    <p>MonPack is your reliable package and delivery management system at Monash University. Our platform is designed to streamline the process of sending, receiving, and tracking packages on campus.
    <br>
    Designed by Oskar Hosken for FIT2095.</p>
    <h2>Features</h2>
    <ul>
        <li>Easy addition of drivers and packages.</li>
        <li>Clean listing of all drivers and packages.</li>
        <li>Filtering of drivers per department.</li>
        <li>Seamless deletion of drivers and packages.</li>
    </ul>
    <h2>Get Started</h2>
    <p>To get started with MonPack, simply sign up using your Monash University email address. Once registered, you can start managing your packages with ease.</p>
</div>