<div class="stats pt-3 w-75">
    <h1>Your Stats</h1>
    <br>
    <h3>Number of drivers: {{ allDrivers.length }}</h3>
    <br>
    <h3>Number of packages: {{ allPackages.length }}</h3>
    <br>
    <table class="table table-hover w-50">
        <thead>
            <tr>
                <th scope="col">Operation</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            <tr id="updates-row">
                <td>Updates</td>
                <td>{{ stats.updates }}</td>
            </tr>
            <tr id="inserts-row">
                <td>Inserts</td>
                <td>{{ stats.inserts }}</td>
            </tr>
            <tr id="gets-row">
                <td>Gets</td>
                <td>{{ stats.gets }}</td>
            </tr>
            <tr id="deletes-row">
                <td>Deletes</td>
                <td>{{ stats.deletes }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="resetStats()">Reset Stats</button>
</div>