<div class="table-box">
    <h1>All Drivers</h1>
    <table class="table" id="driver-table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Licence</th>
            <th scope="col">Created At</th>
            <th scope="col">Active</th>
            <th scope="col">Text To Speech</th>
          </tr>
        </thead>
        <tbody>
            @for(driver of allDrivers;track $index) {
                <tr>
                    <td>{{ driver.driver_id }}</td>
                    <td>{{ driver.driver_name | upperCase }}</td>
                    <td>{{ driver.driver_department }}</td>
                    <td>{{ driver.driver_licence }}</td>
                    <td>{{ driver.driver_createdAt }}</td>
                    <td>{{ driver.driver_isActive }}</td>
                    <td>
                        <i class="fa-solid fa-microphone fa-lg" (click)="textToSpeech($index)"></i>
                    </td>
                </tr>
            }
        </tbody>
      </table>
</div>